@model IEnumerable<Inventorii.Models.Item>
@using Inventorii.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager // Necessary to access user email.
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<p>@TempData["email"]</p>-->
<h1>Items List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Items" asp-action="Index">
    <p>
        Find by Name <input type="text" name="search" class="form-text" />
        <input type="submit" value="Search" class="btn btn-sm btn-danger" />
        <a class="btn btn-sm btn-primary m-2" asp-action="ExportToExcel" asp-controller="Items">Download as Excel</a>
    </p>
</form>

@if (!Model.Any())
{
    <p>No search results found</p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-filter="@ViewData["ItemName"]">
                        @Html.DisplayNameFor(model => model.ItemName)
                        <i class="bi @(ViewData["ItemName"] == "NameDesc" ? "bi-caret-up-fill" : "bi-caret-down-fill")"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-filter="@ViewData["Quantity"]">
                        @Html.DisplayNameFor(model => model.Quantity)
                        <i class="bi @(ViewData["Quantity"] == "QtyDesc" ? "bi-caret-up-fill" : "bi-caret-down-fill")"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-filter="@ViewData["MinimumStock"]">
                        @Html.DisplayNameFor(model => model.MinimumStockQty)
                        <i class="bi @(ViewData["MinimumStock"] == "StockDesc" ? "bi-caret-up-fill" : "bi-caret-down-fill")"></i>
                    </a>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            var colour = "";
            if(item.Quantity < item.MinimumStockQty){
                colour = "red";
            }
            else{
                colour = "None";
            }
                <tr style="color:@colour">
                    
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumStockQty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
 }